<div class="text-center banner"  style="
        height: 50vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image:  url({{ content.field_place_image_thumbnail.0 }} );
        background-attachment: fixed;
        ">

  <div class="gradient"></div>
    <div class="container">
       <div class="row">
           <div class="col-md-12">
                <h1 data-aos="fade-left" data-aos-easing="linear" data-aos-duration="800">{{ label }}</h1>
           </div>
       </div>
  </div>
</div>  
  
<section class="detail-first">
  <div class="row">
      <div class="col-md-6">
        <iframe id="gmap_canvas" src={{content.field_iframe_link.0}} frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>
      </div>
      <div class="col-md-6">
        <div class="detail-first-text">
          <h2>Please Support Us</h2>
          <h5>Web Design </h5>
          {{content.field_category}}
          <a href="#contact" class="btn btn-success">Contact us</a>
        </div>
      </div>
  </div>

</section>
<!-- End reviews Area -->

<!-- Specialities Section Start -->
<section class="specialities">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <h3>Summary</h3>
        <p>{{content.field_places_details}}</p>
        <p>{{content.field_iframe_link}}</p>
        <a href={{content.field_website_link.0}} class="btn btn-success">Visit Us</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7 inner-content">
         <div class="part">
          <h2>Ratings</h2>
          <h4>From the Customers</h4>
             <div class="specialitie">
               <h3 ><a><i class="fa fa-money" aria-hidden="true"></i>Accomodation</a><span><h6>{{content.field_rating_accomodation.0}}%</h6></span></h3>
               <div class="progress">
                  <div class="progress-bar" data-aos="fade-right" data-aos-duration="1000" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{content.field_rating_accomodation.0}}%">
                  </div>
               </div>
            </div>
             <div class="specialitie">
               <h3 ><a><i class="fa fa-plane" aria-hidden="true"></i>Experience</a><span><h6>{{content.field_rating_food.0}}%</h6></span></h3>  
               <div class="progress">
                  <div class="progress-bar" data-aos="fade-right" data-aos-duration="1000" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{content.field_rating_food.0}}%">  
                  </div>
               </div>   
            </div>
             <div class="specialitie">
               <h3 ><a><i class="fa fa-cutlery" aria-hidden="true"></i>Food</a><span><h6>{{content.field_rating_experience.0}}%</h6></span></h3>  
               <div class="progress">
                  <div class="progress-bar" data-aos="fade-right" data-aos-duration="1000" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:{{content.field_rating_experience.0}}%">
                  </div>
               </div>   
            </div>
      </div>
    </div>  
</div>
  <div class="row">
       <div class="fb-like col-md-3" data-href="https://dev-deped-dauin.pantheonsite.io/{{url}}" data-width=""  data-layout="standard" data-action="like" data-size="small" data-share="true">
     </div>
  </div>
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-6">
      {{ content.field_fb_comments}}
    </div>
</div>

</div>
</section>
  